
@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                <br />
                @*<small style="text-align-last">Yazılım Dünyası</small>*@
                <p>
                    <font face="tahoma" size="7" color="maroon">
                        <b> Yazılım  Dünyasına  Hoş  geldiniz</b>
                    </font>
                </p>

            </h1>
            <!-- Blog Post -->


            <div class="card mb-4">


                <img id="cod" src="~/images/cod.jpg" alt="Card image cap" style="width:730px;height:300px">
                <div class="card-body">
                    <h2 class="card-title">Cod First</h2>
                    <p class="card-text">
                        Linq To SQL gibi Entity Framework mimariside biz yazılımcılara oldukça hız kazandırmakta ve veritabanı işlemlerinde atılan bir çağın basamaklarını teşkil etmektedir. Haliyle biz yazılımcılar ister istemez bu mimarilere yönelmekte ve meraklarımızın yanında çalışmalarımızı da bu mimarilerle sürdükmekteyiz. Tabi günümüzde bir yapı yahut mimariye yönelirken kendimize uygun prensip ve yaklaşım seçmemiz yaşayacağımız karışıklığı ortadan kaldıracaktır. Burada demek istediğim o ki, günümüzde her mekanizmasının birden fazla yaklaşımı ve prensibi mevcut olduğundan, öğrenme sürecinde kaçınılmaz olarak kaynakların farklılıkları kafanızı karıştıracaktır. İşte bunun sebebi, her kaynağın farklı bir yaklaşımı merkez edinmesindendir.

                        Entity Framework mimarisinde temelde üç adet yaklaşım mevcuttur.

                        Code First
                        Database First
                        Model First
                        Bu yazımızda Code First yaklaşımı üzerine duracağız. Zamanla diğer yaklaşımlar üzerinde de istişaremizi ederiz diye umuyorum.

                        Code First Nedir?
                        Veritabanı ile Programlama dili arasında bağ kuran bir tekniktir. Projenizde veritabanı işlemlerinizi mümkün mertebe Visual Studio tarafında kod yazarak gerçekleştirmenizi sağlayan bir yaklaşımdır. Bu yaklaşım sayesinde veritabanı arayüzü ile yazılımcı arasında ilişki minimize edilmektedir.

                        Code First yapısında programlama dilindeki “class” yapıları veritabanındaki “tablo” yapılarına, “property” yapıları ise veritabanındaki “kolon” yapılarına denk gelmektedir.

                        Ayrıca Attribute’lar sayesinde veritabanı yapılarına Validationlar uygulanabilmekte ve kolonlara belirli şartlar veyahut kısıtlamalar koyulabilmektedir.

                        En önemlisi ise projenizdeki modelin oto kontrolünü elinizde hissetmenize ve tam hakimiyetle istediğiniz gibi kullanmanıza olanak tanıyor. Database First yaklaşımı Linq To SQL yapısındaki gibi sürükle bırak mantığıyla çalışmakta ve herşeyi otomatik halletmektedir. Eee bir yazılımcının en büyük arzusu; tez işte tam hakimiyet… İşte Code First böyle bir çizgiye sahiptir.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    13 Şubat 2017 de Gönderildi
                    <a href="#">Başa Dön</a>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <img id="HTML" src="~/images/HTML.jpg" alt="Card image cap" style="width:730px;height:300px">

                <div class="card-body">
                    <h2 class="card-title">HTML</h2>
                    <p class="card-text">
                        HTML işaretleme dili olarak web sayfalarında kullanılır. Hazırlanan bu kodlar web tarayıcıları tarafından anlaşılarak bu şekilde görsel web sayfalarına dönüştürülür. HTML için programlama dili denilemez. Bu şekilde bir işlevi yoktur. HTML nedir?Diyenler için işaretleme dili olarak en kısa hali ile yanıtlamak mümkündür. HTML yazı, video veya görsel öğelerin sayfa içerisine yerleştirilmesine ve istenildiği gibi konumlandırılmasını sağlar. Aynı zamanda hazırlanan sayfaların web tarayıcısında düzgün bir şekilde görülmesini sağlar. Son olarak da arama motorlarına web sayfası hakkında bilgi verilmesini sağlayan bir dildir. HTML ile web sayfası hazırlamak isteyenlerin bu durumda bilgisayarlarına program yüklemelerine gerek olmadan işlem yapma kolaylığı vardır. HTML sayfası oluşturmak için not defteri, wordpad veya word dosyası bunun için yeterli olacaktır. Bu sayede işlemler daha hızlı yapılarak istenildiği gibi kodlama yapılabilir. Hazırlanan dosyalar kayıt edilirken html, htm veya xhtml uzantısı ile kayıt edilmesi gerekir.

                        HTML nedir?Sorusunun cevabı olarak bu web siteleri için işaretleme dili olarak kullanılır. Son sürüm olarak HTML5 kullanılabilir. Standart metin işaretleme dili olarak hazırlanan kodlar ile işlem yapılır. HTML kodları ile kendi başına çalışan bir program yazılması mümkün olmadığından programlama dili olarak belirtilemez. Bu dili yorumlayan programlar ile kullanılması halinde bu şekilde çalışan programlar yazılması mümkün olabilir. Bu durum nedeni ile program çalıştırmadığından tek başına programlama dili olarak düşünülemez. Bu işaretleme dili ile web sitelerinde istenildiği gibi yazı, video ve görüntü değişiklikleri yapılarak sayfaların birbirine bağlanması sağlanır. Bu sayede web tarayıcısında istenildiği gibi bir görüntü oluşması sağlanır. HTML kodları yazılırken dikkatli olunması ve doğru şekilde yazılması gerekir. Web tarayıcısı bu kodları okuyarak yorumlar ve görsel hale getirerek bu şekilde sonuç elde edilmesini sağlar. HTML, CSS ve JavaScript aynı anda kullanıldığından istenildiği gibi görsel ve dinamik web siteleri oluşturulabilir. Küçüktür ve büyüktür işaretlerinin arasına yazılan komutlar işaretlenen metnin başına veya sonuna eklenir. HTML için head ve body şeklinde işlemler iki ayrı aşamada yapılabilir. Head içerik olarak başlık ve stil dosyalarını içerir. Bu şekilde sayfalarda yer alacak olan başlık ile ilgili bütün kodlar bu alan içerisinde belirtilebilir. Body içerik olarak sayfada görülmesini istediğiniz diğer içerikleri bu alanda kodlar ile belirterek ekleme yapabilirsiniz. Bu şekilde yazılacak olan kodlar hakkında fikri olmayanlar bu konuda hazırlanmış olan programları kullanarak istedikleri gibi programlama işlemi yapabilirler.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    11 Eylü 2018 de Gönderildi
                    <a href="#">Başa Dön</a>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <img id="jquery" src="~/images/jquery.png" alt="Card image cap" style="width:730px;height:300px">
                <div class="card-body">
                    <h2 class="card-title">JQuery</h2>
                    <p class="card-text">
                        JavaScript web sayfalarını interaktif hâle getirebilmek için geliştirilmiş bir betik dildir. Kısaltması JS'dir. Sunucu tabanlı değildir; kullanıcı tabanlıdır. Bu yüzden hosting hizmeti veren server'ları yormazlar.

                        '95 senesinde Java adlı yeni bir programlama dili piyasaya sürülmekteydi. NetScape firması ise bu betik dilin daha popüler olması adına ismini JavaScript koyarak piyasaya sürdüler. Java ile JavaScript arasında isim benzerliği dışında bir ilgi yoktur.

                        JavaScript daha çok internet sayfalarında anket, quiz, uyarı penceresi gibi interaktif uygulamalarda kullanılır. Örneğin; kullanıcı herhangi bir formda onayla tuşuna bastı; fakat şifresini yazmayı unuttu. Kullanıcı "Şifrenizi belirlemeyi unuttunuz!" bildirimi olan bir açılır pencere uyarısı alabilir. İşte bunu sağlayan JavaScript'tir.

                        jQuery Nedir?
                        jQuery logo
                        jQuery bir JavaScript kütüphanesidir. 2006 yılına kadar çok fazla karmaşık JavaScript kütüphanesi kullanılıyordu. John Resig ise jQuery'yi geliştirerek bu JavaScript kütüphanelerini daha sade ve anlaşılır bir hâle getirdi. Ardından web geliştiricilerinin hizmetine sundu. Birkaç sene içerisinde de jQuery tüm dünyada popüler oldu.

                        jQuery'nin sloganı "az kod çok iş"tir. Bu şekilde birkaç kod ile animasyonlar, slider efektleri ve gizleme - gösterme efektleri yapılabilir. HTML5 ve CSS3 desteği oldukça fazladır. Bugün birçok web sitesinin neredeyse tamamı jQuery kullanmaktadır.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                    @*<a href="#"><span class="glyphicon glyphicon-arrow-right"></span> Yorum</a>*@
                </div>
                <div class="card-footer text-muted">
                    24 Mayıs 2018
                    <a href="#">Başa Dön</a>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <img id="javascript" src="~/images/javascript.jpg" alt="Card image cap" style="width:730px;height:300px">
                <div class="card-body">
                    <h2 class="card-title">JavaScript</h2>
                    <p class="card-text">
                        JavaScript Nedir?
                        JavaScript birçok kaynakta da göreceğiniz üzere Netscape firması tarafından geliştirilmiş olan bir script dilidir. JavaScript bize etkileşimli ve dinamik web sayfaları hazırlama imkanı vermektedir. Sözdizimi Java’ya benzese de Java ve JavaScript birbirinden farklı teknolojilerdir.

                        JavaScript Nerelerde Kullanılır?
                        Ağırlıklı olarak Web Tasarım’da kullanılsa da başka birkaç kullanım alanı daha mevcuttur. Örnek olarak JavaScript ilk zamanlarda sadece istemci taraflı kullanım için tasarlanmış olsa da şimdilerde NodeJS ile birlikte sunucu taraflı kullanımına da başlanmıştır. Buna ek olarak bildiğim kadarıyla Unity oyun motorunda da JavaScript ile bazı kodlamalar yapılabiliyor.

                        JavaScript İle Neler Yapılabilir?
                        Javascript yardımı ile HTML kaynak kodları değiştirilebilir, bu sayede üstteki paragrafta da bahsettiğim gibi dinamik web sayfaları hazırlamamız mümkün oluyor. JavaScript kullanılan web sayfalarını düzgün görüntüleyebilmek için tarayıcınızın JavaScript desteğine sahip olması gerekmektedir. Günümüzde güncel tarayıcıların hepsi JavaScript desteklemektedir.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    28 Maysı 2018  de gönderilidi
                    <a href="#">Başa Dön</a>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <img id="CSS" src="~/images/CSS.png" alt="Card image cap" style="width:730px;height:300px">
                <div class="card-body">
                    <h2 class="card-title">CSS</h2>
                    <p class="card-text">
                        CSS (Cascading Style Sheets), HTML ve JavaScript gibi, internet sayfalarının kodlanmasında kullanılan 3 ana teknolojiden biridir.

                        CSS, bir HTML sayfasının nasıl görüntüleneceğini tarif eder. Bu tarifin içinde sayfadaki başlık, metin, resim, video gibi öğelerin görsel özelliklerinin yanı sıra, sayfa yerleşimi ve bu yerleşimin farklı ekranlarda, cihazlarda,ekran, kağıt ya da diğer ortamlarda nasıl değişeceği bilgisi de bulunur.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    23 Nisan 2017 de Gönderildi
                    <a href="#">Başa Dön</a>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <img id="ajax" src="~/images/ajax.png" alt="Card image cap" style="width:730px;height:300px">
                <div class="card-body">
                    <h2 class="card-title">AJAX</h2>
                    <p class="card-text">
                        Ajax, “Asynchronous JavaScript and XML” (Türkçe: Eşzamansız JavaScript ve XML) anlamına gelen ve bir çok programlama dili ile uyumlu çalışan bir tekniktir. Peki ama Ajax Nedir? Amaç; bütün sayfayı kullanıcıya tekrar yükletmeden, sadece gerekli olan veriyi dinamik olarak ekrana getirmek veya sunucuya veri göndermektir. Örneğin iletişim formu doldurulduğunda sadece datayı göndererek o bölüme sonucu yazdırmak için kullanılabilir.

                        Ajax hemen hemen her web projesinde kullanılabilir ancak desteklemeyen tarayıcılar içinde bir versiyon oluşturulması gerekir. Gelişmiş arama motorları ajax içeriğini okuyabilirken bazıları kaynak kodlarında gözükmeyen bu içeriği okuyamaz.

                        Sadece istenen kısmın yüklenmesi hız açısından bir avantajken, kodların kullanıcı bilgisayarı tarafından yorumlanması sebebiyle yavaş bilgisayarlar sorun yaşamaktadır. Ajaxı kullanmak ana web programlarının yanı sıra iyi bir javascript bilgisi gerektirmektedir.

                        Ajax yapısı sizi bir çok kod satırından kurtarabilirken bazı işlerde daha çok kod yazılması gerekebilir. Yapılan işlerde neyin gerekli olduğuna dikkat edilmesi gerekmektedir.

                        En sık kullanıldığı yerler:

                        İl, ilçe seçimi
                        İletişim formu gönderirken
                        Bir bilginin kayıtlı olup olmadığı kontrol etmek (kullanıcı adı gibi)
                        Ürün veya yazı listeleme, sayfalama
                        Aramalar otomatik tamamlama veya sonuçları anında görüntüleme
                        Yorum gönderme, beğenme, popup için içerik getirme

                        gibi ve bir çok alanda daha kullanılabilir.
                    </p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    <a href="#" class="btn btn-success">Yorum &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    22 Mart 2016 da Gönderildi
                    <a href="#">Başa Dön</a>
                </div>
            </div>

            <!-- Pagination -->

            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; İleri</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Geri &rarr;</a>
                </li>
            </ul>
        </div>

        <br /> <br />

        <br />
        <!-- &nbsp; &nbsp;  &nbsp;  &nbsp;&nbsp;-->
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <br /> <br />

            <br /> <br /> <br /> <br />
            <div class="card my-4">
                <h5 class="card-header">Ara</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Site içi arama...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Git!</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->





            <div class="card my-4">
                <h5 class="card-header">Kategoriler</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#"> <span class="glyphicon glyphicon-arrow-right"></span> Cod First</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">JQuery</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">AJAX</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <h4>Hakkında</h4>

            <div class="card mb-4" style="width:400px;">

                <img id="ee.JPG" src="~/images/ee.JPG" alt="Card image cap" style="width:400px;height:200px">
                <div class="card-body">
                    <h2 class="card-title">Üniversite</h2>
                    <p class="card-text">
                        Haziran 2016 da Azerbaycan Teknik Üniversitesinde Bilgisayar Mühendisliği
                        Bölümünden  mezun oldum. Yurt dışında üniversite okumamın bana kattığı en
                        Büyük avantajlardan biride farklı dilde, farklı kültürde olan insanlara rahat bir şeklide
                        Çalışma ,bir takımda yer alma ,birlikte üretebilmeyi  öğrenme fırsatım oldu.
                        Programlama Dilleri   : C# , MVC , ASP.NET , JAVASCRİPT ,  HTML , CSS ,
                        Alanlarında staj yaptım  kendimi geliştirmek için küçük projeler ve seminerlere katıldım.
                        Okul döneminde aldığım dersler  yaptığım C# Form projesi sayesinde yazılıma  yönelmek istedim.
                        Kişisel gelişimim için  5 ay boyunca Microsoft yazılım & Veritabanı  ve ERP eğitimine
                        Katıldım .Bu eğitimde bir çok proje ile öğrendiklerimi projeye döktüm .Yazılım geliştirme
                        Kişisel gelişimim için  5 ay boyunca Microsoft yazılım & Veritabanı  ve ERP eğitimine
                        Katıldım .Bu eğitimde bir çok proje ile öğrendiklerimi projeye döktüm .Yazılım geliştirme



                    </p>
                    
                </div>
                
            </div>

            <h2 class="card-title">Nitelikler</h2>

            <div class="card mb-4" style="width:400px;">

                <img id="bil.jpg" src="~/images/bil.jpg" alt="Card image cap" style="width:400px;height:200px">
                <div class="card-body">
                 
                    <p class="card-text">


                        BİLGİSAYAR BİLGİLERİ
                        Programlama Dilleri	: C#, HTML5, CSS3, JavaScript
                        Veritabanı Teknolojileri : MS SQL, Ado.Net, Entity Framework, Linq, XML
                        Teknolojiler ve Uygulama Çatıları : Asp.Net,   MVC, Jquery, Ajax,
                        Konseptler ve Kalıplar	: OOP, Design Patterns, N-Tiered Architecture Structure
                        Araçlar					: Visual Studio, SQL Server Management Studio,

                        YABANCI DİL
                        İngilizce				: Mesleki ve teknik gelişmeleri izleyip yorumlayabilecek ve konuşmaları
                                                 anlayabilecek düzeyde




                    </p>
                    
                </div>
                
            </div>

            <h2 class="card-title">Projeler</h2>
            <div class="card mb-4" style="width:400px;">

                <img id="kod.jpg" src="~/images/kod.png" alt="Card image cap" style="width:400px;height:200px">
                <div class="card-body">

                    <p class="card-text">


                        •	E-Ticaret Sitesi:
                        Bir kullanıcının alışveriş sitesinden sipariş oluşturmasını alım aşamasında yapılan alışverişe göre indirim uygulanmasına. Alışveriş sırasında doldurulan sepetin, bir diğer ziyarette yeniden getirilmesi gibi özelliklere sahiptir.Facebook sayesinde giriş yapılma özelliğine sahiptir.
                        Kullanılan Teknolojiler : C#, Entity Framework, N-Tier Architecture, OOP, Javascript,Jquery,JSON, ASP.NET, MVC.

                        •	Kişisel Blog Sitesi:
                        Kullanıcının makale yazmasına, kategoriye bağlı olarak makaleleri filtrelemesi, birden farklı kullanıcıların kayıt olarak makalelere yorum ekleme gibi özellikleri vardır. Kullanıcı ve yöneticiye ayrı arayüzler ve özellikler yapılmıştır.
                        Kullanılan Teknolojiler : C#, Entity Framework, OOP, Bootstrap, ASP.NET, MVC.





                    </p>

                </div>

            </div>


            <h2 class="card-title">Seminerler Ve Sertifiklar</h2>
            <div class="card mb-4" style="width:400px;">

                <img id="sm.jpg" src="~/images/sm.jpg" alt="Card image cap" style="width:400px;height:200px">
                <div class="card-body">

                    <p class="card-text">


                       
                        15.11.2017 – 25.03. 2018: Bahçeşehir Üniversitesi Wissen Akademie
                        Microsoft Yazılım ve Veri Tabanı Uzmanlığı Eğitimi
                        •	Programming in C#, Form Kontrolleri, OOP
                        •	IO - Serialization (Binary, XML, JSON)
                        •	SQL Server Development, ADO.NET, T-Sql, Review, LINQ & Entity Framework
                        •	HTML - HTML5, CSS - CSS3, Bootstrap Introduction, JS – Jquery, ASP.NET WebForms
                        •	ASP.NET MVC, Web Api, WCF, AngularJS, TypeScript,


                        REFERANS BİLGİSİ

                        Erkan HOYMAN		Wissen Bilgisayar  Akademie
                        İ.T.Ü Uçak Müh. Yazılım Uzmanı-Eğitmen
                        MPC, MCAD ,MCSD.Net
                        0532 166 32 95





                    </p>

                </div>

            </div>
            <div class="card my-4">
               
                <a href="#" class="btn btn-success">Üye Olamayı Unutmayın </a>
                
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
